/* - navigation - */
nav {
  width: 75%;
  margin: auto;
  ul.menu {
    display: flex;
    flex-direction: column;
  }

  li a {
    display: flex;
  }

  li {
    display: block;
    list-style-type: none;
    padding: 1rem;
    margin: auto;
  }

  li svg.icon {
    width: 1.2rem;
    height: 1.2rem;
    margin-left: 0.5rem;
    margin-top: 0.3rem;
  }

  li.menu-item-has-children {
    margin-left: 0.2rem;
  }
}

nav ul ul {
    display: none;
}

nav ul li:hover > ul {
  display: block;
}
