/* __Project Fonts___ */

/* Headings */
/* Montserrat */
@import url('fonts/Montserrat/Montserrat-Regular.ttf');
$headingFont: 'Montserrat', sans-serif;

/* Body Text */
/* Kanit */
@import url('fonts/Kanit/Kanit-Regular.ttf');
$bodyFont: 'Kanit', sans-serif;

/* __Project Colors__ */

/* Logo */
$logoPurple: #562969;
$logoGreen: #96C12C;
$logoViolet: #D8CEDC;

/* Colors */
$projectBlue: #5EBEB8;
$projectDarkGreen: #359434;
$projectOrange: #EF8728;

/* Greys */
$projectGrey1: #F0EDE8;
$projectGrey2: #D7D5D0;
$projectGrey3: #BFBDB9;
$projectGrey4: #A3A29E;
$projectGrey5: #878683;
$projectGrey6: #666563;
$projectGrey7: #4A4948;
$projectGrey8: #292827;
$projectGrey9: #141414;
